
.email-contexts-edit.max-width
  .header
    %h2.title
      Edit email Context
      = link_to "[view]", email_context_path( @ctx )
      = button_to 'Send', send_immediate_email_context_path(@ctx), form_class: 'inline', :data => { :confirm => 'Are you sure?' }
  = render 'ish_manager/email_contexts/form', ctx: @ctx, tmpl: @tmpl
