
.email-contexts-summary.max-width.center-headers
  .header
    %h2.title Email Contexts - Summary

  %table.bordered
    %thead
      %tr
        %th Date
        %th Count
    %tbody
      - @results.each do |r|
        %tr
          %td= r['_id']
          %td= r['total']

