
.conversations-show.maxwidth
  %h5
    = @conversation.subject
    (#{@conversation.messages.length})

  %ul.m-0.p-0
    - @conversation.messages.each do |msg|
      %li
        = render 'wco_email/messages/meta', message: msg
        %iframe.message-iframe{ src: message_iframe_path(msg) }
