
.bundle
.byebug_history

chromedriver
/config/initializers/0*
!/config/initializers/00_s3.rb-example
!/config/initializers/08_integrations.rb-example
/config/master.key

/db/*.sqlite3
/db/*.sqlite3-*

.env*

/log/*
!/log/.keep
/test/dummy/log/*
!/test/dummy/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

/storage/*
!/storage/.keep

/test/dummy/config/initializers/0*
/test/dummy/config/mongoid.yml
/test/dummy/spec/factories/wco_factories.rb

/test/dummy/tmp/*
!/test/dummy/tmp/.keep
/test/dummy/spec/factories/wco_models_factories.rb
/test/dummy/tmp/pids/*
!/test/dummy/tmp/pids/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
*trash

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/vendor/bundle
/volumes
!/volumes/.keep

w
.DS_Store
