
.flex-row {
  display: flex;
}

.maxwidth {
  max-width: 1000px;
  margin: auto;
}


table.bordered {

  border: 1px solid gray;
  border-bottom: 0;
  border-right: 0;

  th {
    background: #ddd;
  }

  td {
    border: 1px solid gray;
    border-top: 0;
    border-left: 0;
  }

}

hr {
  border-top: 1px solid red;
}
