%h3.center.collapse-expand#emailTemplatesIndex
  Email Templates (#{WcoEmail::EmailTemplate.all.count})
  = link_to '[+]', new_email_template_path
  = link_to '[list]', email_templates_path
  = link_to '[list-expanded]', email_templates_path({ template: '_index_expanded' })
