
-#
-# WARNING: this is used by contexts, not templates, so @TODO: review _vp_ 2023-03-26
-#

= raw ERB.new( @ctx.body ).result

= @ctx.reply_to_message.inspect

- if @ctx.reply_to_message
  = @ctx.reply_to_message.part_html
