
-# = @lead.inspect
-# = @tmpl.inspect
= @rendered_str


= raw @ctx.body
= raw ERB.new( @ctx.body ).result

-# = @ctx.reply_to_message.inspect

- if @ctx.reply_to_message
  %br
  %br
  .mini Your previous message is shown below.
  %hr
  = raw @ctx.reply_to_message.part_html_sanitized
