
<%= raw ERB.new( @ctx.body ).result %>

<br /><br />
<table class="footer-signature" border="0" >
  <tr>
    <td>
      --<br />
      Victor Pudeyev<br />
      Software Engineering Lead<br />
      <a href="mailto:victor@wasya.co">victor@wasya.co</a>
      |
      <a href="https://tidycal.com/wasya-co/30min">Book a chat</a><br />
