
= link_to '[~]', edit_email_action_template_path( tmpl )
= link_to tmpl.slug, email_action_template_path( tmpl )
-# %br
-# <b>from_email:</b> #{tmpl.from_email}
-# %br
-# <b>subject:</b> #{tmpl.subject}
