
.application--sidebar
  %ul.tags-list
    - @tags.each do |tag|
      %li
        = link_to tag.slug, conversations_in_path( tag.slug )
        -# <b>#{tag.conversations.unread.length}</b>
        -# (#{tag.conversations.length})
        = link_to "not", conversations_not_in_path( tag.slug )

