
-# .application--form-nonpublic
-#   .WBordered
-#     .row
-#       .col-sm-3
-#         = f.check_box :is_public
-#         = f.label :is_public
-#       .col-sm-4
-#         = f.label 'Shared with'
-#         = f.select :shared_profiles, options_for_select(@user_profiles_list, selected: model.shared_profile_ids), {}, { :multiple => true }
-#       .col-sm-4
-#         Shared with:<br />
-#         - model.shared_profiles.each do |p|
-#           &gt; #{p.email} <br />
