
.messages-show
  %h5
    Message
    <b>Subject:</b>
    = link_to @message.conversation.subject, conversation_path(@message.conversation)
    (#{@message.conversation.messages.length})

  = render 'meta', message: @message
  %iframe.message-iframe{ src: message_iframe_path(@message) }
  = render '/wco_email/contexts/form_reply', lead_id: @message.lead_id, message: @message, ctx: WcoEmail::Context.new({ from_email: @message.to&.downcase, subject: @message.subject, email_template_id: ET.find_by( slug: 'blank').id })


