
- if params[:expand_history] == 'true'
  -# ;
- else
  :css
    blockquote {
      display: none;
    }


= raw @message.part_html_sanitized

-# %hr{ style: 'border-top: 1px solid red;' }
-# %pre= @message.part_txt