
.email-contexts-edit.max-width
  .header
    %h5.title
      Edit email Context
      = link_to "[view]", context_path( @ctx )
      = button_to 'Send', send_immediate_email_context_path(@ctx), form_class: 'inline', :data => { :confirm => 'Are you sure?' }
  = render '/wco_email/contexts/form', ctx: @ctx, tmpl: @tmpl
